.subMenucontainer, .viewAll {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.subMenucontainer h3{
    font-size: 16px;
    font-weight: 600;
    color: #2a2b3c;
}

.subMenucontainer .viewAll p{
    font-size: 12px;
    color: #f8901c;
    font-weight: 400;
}

.subMenucontainer .viewAll svg{
    font-size: 16px;
    background: #f8901c;
    font-weight: 400;
    width: 20px;
    height: 20px;
    min-width: 20px;
    border-radius: 5px;
    display: flex;
    color: #faf9fb;
    align-items: center;
    justify-content: center;
    margin-left: 10px;

}